

<ion-content>
  <div class ="flex-center">
    <ion-card>
    <ion-card-header>
      <ion-card-title>Login Page</ion-card-title>
    </ion-card-header>

<ion-card-content>

<ion-item>
  <ion-label position="stacked">EMAIL</ion-label>
  <ion-input placeholder="Enter Email"></ion-input>
 
</ion-item>

<ion-item>
  <ion-label position="stacked">PASSWORD</ion-label>
  <ion-input placeholder="Enter Password"></ion-input>
</ion-item>

<ion-button color="dark" size="full">LOGIN</ion-button>
<ion-button color="dark" fill="clear" size="full" (click) ="register()">REGISTER</ion-button>
<ion-button color="dark" fill="clear" size="full">Forgot Password</ion-button>

</ion-card-content>
</ion-card>
</div>
</ion-content>